<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <title>My Resources</title>
  </head>

  <header>
    <%- include('partials/_header') %>
  </header>

  <body>
    <main style="margin: 1em;">
      <h3>My Resources</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title </th>
            <th scope="col">Description</th>
            <th scope="col">External URL</th>
          </tr>
        </thead>
         <!---  mm  <tbody>
            <% for (const shortURL in urls) { %>
              <tr>
                <td><%= shortURL %></td>
              <td><%= urls[shortURL].longURL %></td>
              <td class="margin-left: 50px;"><form method="GET" action="/urls/<%= shortURL %>"><button>Edit</button></form></td>
      <td><form method="POST" action="/urls/<%= shortURL %>/delete"><button>Delete</button></form></td>
            </tr>
            <% } %>
          </tbody>  --->
      </table>
    </main>
